.shop {
    margin-top: 4rem;
    grid-template-areas: "... shop-content ...";
    &-content-grid {
        grid-area: shop-content;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 2rem;
    }
    &-content-item {
        & div {
            overflow: hidden;
            cursor: pointer;
        }
        & img {
            height: 8.75rem;
            transition: transform 0.2s ease-in;
            
            &:hover {
                transform: scale(1.15);
            }
        }
        & p {
            margin: 0;
            padding: 1rem 0;
            color: rgb(20, 43, 111);
            font-size: 1.125rem;
            font-weight: 500;
            background-color: rgb(248, 246, 246);
        }
        &-wrapper {
        }
    }
}